name: CD-msvc-auth

on:
  workflow_run:
    workflows: ["CI-msvc-auth"]
    types:
      - completed

jobs:
  docker:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build Docker image
        run: | 
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/msvc-auth:latest . 

      - name: Push Docker image
        run: | 
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/msvc-auth:latest