name: CD-msvc-auth

on:
  workflow_run:
    workflows: ["CI-msvc-auth"]
    types: [completed]

permissions:
  contents: read
  actions: read
  id-token: write

jobs:
  docker:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download built JAR from CI
        uses: actions/download-artifact@v4
        with:
          name: msvc-auth-jar
          path: build/libs/
          run-id: ${{ github.event.workflow_run.id }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/msvc-auth:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/msvc-auth:latest
